#!/bin/bash
# {{ ansible_managed }}
# {{ ansible_default_ipv4.address }}
# {{ ansible_eth1.ipv4.address }}

  
datacenter = "{{consul_datacenter}}"
data_dir = "{{consul_data_path}}"
client_address = "{{consul_client_addr}}"
ui = "{{consul_ui}}"
bind_addr = "{{consul_bind_addr}}"

{% if "{{ consul_bind_addr }}" == "{{ consul_server_addr }}" %}

bootstrap_expect = "{{ consul_bootstrap_expect }}"
server = "{{consul_server}}"

{%else %}
# client
retry_join = ["{{ consul_server_addr }}"]

{% endif %}
