#!/bin/bash
# {{ ansible_managed }}
# {{ ansible_default_ipv4.address }}
# {{ ansible_eth1.ipv4.address }}
log_level = "DEBUG"
data_dir = "{{ nomad_data_dir }}"
bind_addr = "{{ nomad_bind_addr }}"

server {
	enabled = "{{ server_enabled }}"
	bootstrap_expect = "{{ nomad_bootstrap_expect }}"
}

advertise {
	http = "{{ ansible_eth1.ipv4.address }}:4646"
	rpc = "{{ ansible_eth1.ipv4.address }}:4647"
	serf = "{{ ansible_eth1.ipv4.address }}:4648"
}
